body {
    color: black;
    font
    background-color: mediumslateblue;

}
img{
    margin: 30px -10px 20px 400px;
}
body.zahra3{
    background-color: darksalmon;
}
img.zahra4{
    margin: 50px -10px 20px 270px;
}
body.bdcolor{
    background-color: darkkhaki;
}
body.bdcolor1{
    background-color: silver;
}
body.bdcolor2{
    background-color: silver;
}