{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="sidebar-margin">
    <!-- HEADBAR -->
    <div class="container-fluid border-bottom headbar">
        <div class="row">
            <div class="col-md-6">
                <p class="top-font">پنجشنبه ۲۳ اردیبهشت ۱۴۰۰</p>
            </div>
            <div class="col-md-6">
                <p class="text-right top-font" dir="rtl">صفحه اصلی > قالب ها </p>
            </div>
        </div>
    </div>
    <div class="mobile-headbar center-row border-bottom">
        <div>
            <img src="{% static 'images/Group 6.svg' %}">
            <p class="moblie-headbar-name">پورتفولیتو</p>
            <img src="{% static 'images/menu.svg' %}" class="menu-img">
        </div>
    </div>
    <!-- END HEADBAR -->
    <!-- Main Content -->
    {% block profile_content %}{% endblock %}
    <!-- End Main Content -->
</main>


<!-- SIDE BAR -->
<main class="sidebar border-left">
    <div class="h-25 sidebar-center-column sidebar-top">
        <img src="{% static 'images/Group 6.svg' %}" alt="">
        <div class='sidebar-head-txt'> پورتفولیتو </div>
    </div>
    <div class="h-75 sidebar-center-column">
        <a href="{% url 'products:template' %}" class="simple">
            <div class='sidebar-btn sidebar-btn-active'>
                <span> قالب ها</span>
                <img src="{% static 'images/Ticket.svg' %}" alt="">
            </div>
        </a>
        <a href="{% url 'products:setting' %}" class="simple">
            <div class='sidebar-btn'>
                <span> تنظیمات</span>
                <img src="{% static 'images/Setting.svg' %}" alt="">
            </div>
        </a>
        {% if user.active_template %}
        <a href="{% url 'products:show' user.username %}" class="simple">
            <div class='sidebar-btn'>
                <span> نمایش </span>
                <img src="{% static 'images/Ticket Star.svg' %}" alt="">
            </div>
        </a>
        {% endif %}
    </div>
</main>
<!-- SIDE BAR END -->
{% endblock %}

{% block js %}
<script>
    $('.menu-img').on('click', function () {
        console.log('sdfff')
        $('.sidebar').animate({ 'width': 'toggle' });
    });
</script>
{% endblock %}