{% extends "base.html" %} {% load static %} {% block content %}
<div class="login-headbar">
    <img src="{% static 'images/Group 6.svg' %}" alt="">
    <span>
		پورتفولیتو
	</span>
</div>
<form action="{% url 'send-email-sucessfull' %}" method="POST">
    {% csrf_token %}
    <div class="container-fluid top-margin">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/login-logo.svg' %}" class="w-100" alt="">
            </div>
            <div class="col-md-6 center-column center-row">
                <div class="w-100 turn-left">
                    <span class="login-title"> بازیابی رمز عبور </span>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            {{email_form}}
                        </div>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6 turn-left">
                                <a href="send-email-sucessfull/">
                                    <input type="submit" value="بازیابی" class="input-btn"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>
{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/login_base.css' %}" type='text/css'> {% endblock %}